body {
  min-width: 150px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  background: #fefefe;
  font-size: 13px;
  /* max-height: 300px */
}

.mi-casa {
  padding: 16px;
  font-size: 24px;
}

.menu {

}

.menu > a {
  text-decoration: none;
  display: block;
  padding: 16px;
}
.menu > a:hover {
  background-color: rgba(0, 0, 0, 0.31)
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(70, 70, 70);
    color: white;
  }
  .menu > a {
    color: white;
  }
  .menu > a:hover {
    background-color: rgba(255, 255, 255, 0.31)
  }
}
